// DEVICE VIEWS
$tablet: 1100px;
$mobile: 500px;
$xsmobile: 380px;

// TEST BORDER
$border: 1px solid red;

// PRIMARY APP COLORS
$c1: #dbf4fc;
$c2: #fcdee6;
$c3: #de6a6a;

// BOX SHADOW
$shadow: 1px 1px 0px #ccc;

// BUTTON STYLE
$butfont: #5a5a5a;
$butBack: #e0e1e2;
