// DEVICE VIEWS
$tablet: 1100px;
$mobile: 500px;
$xsmobile: 380px;

// TEST BORDER
$border: 1px solid red;

// PRIMARY APP COLORS
$c1: #dbf4fc;
$c2: #fcdee6;
$c3: #de6a6a;

// BOX SHADOW
$shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);

// BUTTON STYLE
$butfont: #5a5a5a;
