//SCSS VARIABLES
@import "src/utilities/variables";

.card {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 3px;
  h1 {
    @media (max-width: $tablet) {
      font-size: 0.8rem;
    }
  }
}
