//SCSS VARIABLES
@import "src/utilities/variables";
//PERMANENT MARKER IMPORT
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto&display=swap");
//Noto Sans TC (HELLO my name is) IMPORT
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:900&display=swap");

.LandingContainer {
  .SectionDiv {
    margin-top: 100px;
    margin-bottom: 10px;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    @media (max-width: $tablet) {
      margin-top: 50px;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 70vh;
    }
    .Login {
      :hover {
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        transform: scale(1.1);
      }
      box-shadow: $shadow;
      border: 3px solid $c1;
      border-radius: 20px;
      width: 40%;
      max-height: 400px;
      font-family: "Noto Sans TC", sans-serif;
      @media (max-width: $tablet) {
        width: 80%;
        height: 34vh;
      }
      h2 {
        font-size: 1rem;
        border-bottom: 3px solid $c1;
      }
      h1 {
        font-size: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 65%;
        @media (max-width: $tablet) {
          font-size: 5rem;
        }
      }
    }
    .Register {
      :hover {
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        transform: scale(1.1);
      }
      box-shadow: $shadow;
      border: 3px solid $c2;
      border-radius: 20px;
      width: 40%;
      max-height: 400px;
      font-family: "Noto Sans TC", sans-serif;
      @media (max-width: $tablet) {
        width: 80%;
        height: 34vh;
      }
      h2 {
        font-size: 1rem;
        border-bottom: 3px solid $c2;
      }
      h1 {
        font-size: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 65%;
        @media (max-width: $tablet) {
          font-size: 5rem;
        }
      }
    }
  }
}
